/**
 * Class for light contrasty background because black text and dark main theme are similar.
 */
.contrasty {
    background-color: var(--color-title-contrasty);
}

/**
 * Styles for pagination in category.twig
 */
.pagination__wrapper {} /* for template semantic */
.pagination__item {
    display: inline-block;
}

.product-category__title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: var(--color-primary);
}

.product-category__description p {
    color: #595959 !important;
    text-align: center;
    font-family: Inter, sans-serif, 'Microsoft Sans Serif' !important;
    margin-bottom: var(--space-2x) !important;
}